@using net_il_mio_fotoalbum.Models
@model ContactMessage

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 d-flex justify-content-center">
            <h1 class="my-title">Lista delle Foto</h1>
        </div>
        <div class="row pe-0">
            <div class="col-6 text-start">
                <form class="d-flex" role="search">
                    <input class="form-control w-50 js-search" type="search" placeholder="Cerca per nome..." aria-label="Search">
                    <button class="btn btn-outline-warning ms-2 px-3" type="submit">Cerca</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row js-no-photo d-none">
        <div class="col-12 mb-3 d-flex justify-content-center">
            <h4>Non hai inserito nessuna foto</h4>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-3 mb-5 js-photo-show d-none">
        @*Elenco delle foto*@
    </div>
</div>

@*CONTACT FORM*@
<div class="container mt-5 mb-2">
    <div class="row bg-warning bg-opacity-50 rounded rounded-3 p-0 my-5">
        <div class="col-6 d-flex p-0">
            <div>
                <img src="~/img/img-photo-bg.jpg" alt="" class="card-img rounded-3" style="height:100%; object-fit: cover;" />
            </div>
        </div>
        <div class="col-6">
            <div class="p-3">
                <div class="text-center d-flex flex-column align-items-center">
                    <h3 class="border-bottom border-primary w-75 mb-4 pb-2"><span class="my-title fw-bold"> <i class="fa-solid fa-square-envelope"></i> Contattami</span> per info</h3>
                </div>
                <div id="successMessage" class="alert alert-success mt-3" style="display: none;">
                    Il tuo messaggio è stato inviato con successo!
                </div>
                <form class="pt-2" asp-controller="" id="contactForm">
                    <div class="mb-3">
                        <label for="nameuser" class="form-label">Nome</label>
                        <input type="text" name="nameuser" class="form-control" id="nameuser">
                        <span asp-validation-for="Name" class="text-danger fw-bold"></span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Indirizzo E-Mail</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="esempio@iltuoprovider.com" aria-describedby="emailHelp">
                        <span asp-validation-for="Email" class="text-danger fw-bold"></span>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Messaggio</label>
                        <textarea id="message" name="message" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Message" class="text-danger fw-bold"></span>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary fs-5 px-4 btn-crea-modifica" value="Invia">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*SCRIPT AXIOS*@
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    // FUNZIONE PER CARICARE LA LISTA DELLE FOTO
    function loadList(nameFilter) {
        axios.get('api/PhotoWebApi/GetAllPhotos',
            {
                params:
                {
                    name: nameFilter
                }
            }).then((res) => {
                console.log(res.data)
                if (res.data.length == 0) // Non c'è nessuna foto
                {
                    document.querySelector('.js-no-photo').classList.remove('d-none');
                    document.querySelector('.js-photo-show').classList.add('d-none');
                }
                else {
                    document.querySelector('.js-no-photo').classList.add('d-none');
                    var photoShow = document.querySelector('.js-photo-show');
                    photoShow.classList.remove('d-none');

                    photoShow.innerHTML = '';
                    res.data.forEach((photo) => {
                        console.log('Rendering photo:', photo);

                        let categoriesHtml = '';
                        if (photo.categories && photo.categories.length > 0) {
                            categoriesHtml = '<div class="d-flex flex-wrap">';
                            photo.categories.forEach(cat => {
                                console.log('forerach:', cat)
                                categoriesHtml += `<div class="categories m-1 p-1 text-white">
                                                        <a href="/Category/Details/${cat.id}" class="text-white text-decoration-none">${cat.name}</a>
                                                   </div>`;
                            });
                            categoriesHtml += '</div>';
                        } else {
                            categoriesHtml = '<span class="fw-bold">Nessuna categoria assegnata alla foto.</span>';
                        }

                        let photoHtml = `
                            <div class="col col-12 mb-3 d-flex justify-content-center">
                                <div class="card my-list-card h-100 mb-3" style="width: 22rem;">
                                    <div class="position-relative">
                                        <img src="${photo.imgSrc}" class="img-fluid rounded-start" alt="${photo.title}"/>
                                        <span class="position-absolute top-0 end-0 m-2">
                                            <i class="fa-solid fa-circle ${photo.visible ? 'text-success' : 'text-danger'}"></i>
                                            <span class="badge ${photo.visible ? 'bg-success' : 'bg-danger'} text-white fw-bold">
                                                ${photo.visible ? 'Pubblico' : 'Bozza'}
                                            </span>
                                        </span>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">${photo.title}</h5>
                                        <p class="card-text">${photo.description}</p>
                                        <p class="card-text mb-0">
                                            Categoria assegnata: ${categoriesHtml}
                                        </p>
                                        <a href="/Photo/Details/${photo.id}" class="btn btn-primary mt-auto"><i class="fa-solid fa-eye"></i> Visualizza dettagli</a>
                                    </div>
                                </div>
                            </div>`;

                        photoShow.innerHTML += photoHtml;
                    });
                }
            }).catch((error) => {
                console.error('Error fetching photos:', error);
            });
    }

    // RICHIAMO FUNZIONE PER CARICARE LA LISTA
    loadList('');

    // FUNZIONE PER RICERCARE UNA FOTO COL SUO NOME
    function search() {
        loadList(this.value);
    }

    document.querySelector('.js-search').addEventListener('keyup', search)

    // FUNZIONE PER INVIO FORM
    function sendMessage() {
        document.querySelector('#contactForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const nameuser = document.getElementById('nameuser').value;
            const email = document.getElementById('email').value;
            const message = document.getElementById('message').value;
            axios.post('api/PhotoWebApi/ContactFormSend', {
                name: nameuser,
                email: email,
                message: message
            })
                .then(response => {
                    // Messaggio di successo
                    const successMessage = document.getElementById('successMessage');
                    successMessage.style.display = 'block';
                    // Ricarica la pagina
                    setTimeout(() => {
                        location.reload();
                    }, 5000);
                })
                .catch(error => {
                    console.log(error);
                });
        });
    }

    sendMessage();
</script>
