/* INDICAZIONI GENERALI */
html {
  font-size: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-image: url('../img/bg-hf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li {
    transition: border-bottom 0.5s;
}

.nav-link {
    position: relative;
    font-size: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffd700 !important;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent; 
    transition: background-color 0.3s, bottom 0.3s, color 0.3s; 
}

.nav-footer::before {
    width: 0;
}

.nav-profile::before {
    width: 0;
}

.nav-link:hover::before,
.nav-link:active::before {
    background-color: #ffd700;
    bottom: -4px;
}



/* MAIN */
.my-title {
    color: #3A008A;
}

.my-list-card {
    transition: box-shadow 0.5s, transform 0.5s;
}

.my-list-card:hover {
    box-shadow: 0px 0px 10px 0px #3A008A;
    transform: scale(1.03); 
}

.row-detail-card {
    --bs-gutter-x: 0;
}

.categories {
    background-color: #3A008A;
    border: solid #3A008A;
    border-radius: 5px;
    transition: transform 0.3s;
}

.categories:hover {
    transform: scale(1.03);
}

.personal-bg {
    background-color: #E9ECEA;
}

/* BUTTON FORM FOR MOBILE */
@media (max-width: 768px) {
    .btn-crea-modifica {
        width: 100%;
    }
}

/* FOOTER */
footer {
    margin-top: auto;
    background-image: url('../img/bg-hf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 18px;
}

.copy {
    font-size: 15px;
}